<header>
	<div id="cubes">
		<%= image_tag "cubes3.svg", size: "160x160"%>
	</div>

	<div id="logo">
		<%= image_tag "abstrct.svg", size: "490x142"%>
	</div>

	<div id="menu">	
		<ul>
			<li><a href="#"> </a></li><br>
			<li> <a href="/drawings/new">Draw another</a> 
			</li>
			
			<li> <%= link_to "Log out", logout_path, method: "DELETE", class: 'logout' %>
			</li>
		</ul>
	</div>	
</header>

<br>
<br>

<div id="drawingContainer">
	<div class="words">ALL MY CREATIONS
	</div>
	
	<% @drawings.each do |drawing| %>

	<div id="container">
			<img class="drawing-image" src="<%= drawing.drawing_img %>">
	</div>

	<div class="image-info">
		<% if (drawing.word) %> "<%= drawing.word.word %>" <% end %>
		 was created on <%=drawing.created_at.strftime("%B %-d, %Y") %>
	<br>

	</div>
	<% end %>
</div> <!-- drawingContainer -->

