<header>
		<%= image_tag "abstrct.svg", size: "490x142"%>	
		<ul>
			<li><a href="#"> </a></li><br>
			<li> <a href="/drawings/new">Draw another</a> 
			</li>
			
			<li> <%= link_to "Log out", logout_path, method: "DELETE", class: 'logout' %>
			</li>
		</ul>
</header>


<% @drawings.each do |drawing| %>
	<img class="drawing-image" src="<%= drawing.drawing_img %>">

<div class="image-info">
	<% if (drawing.word) %> <%= drawing.word.word.upcase %> <% end %>
	was created on <%=drawing.created_at.strftime("%B %-d, %Y") %><br>

	      
</div>
<% end %>

